In [1]:
import pandas as pd

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pd_series = pd.Series([4, 8, 15, 16, 23, 42])
print(pd_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

series = pd.Series(my_list)
print(series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [6]:
my_dict = {"Name" : ['Alice', 'Bob', 'Claire'],
          "Age" : [25, 30, 27],
          "Gender" : ['Female', 'Male', 'Female']}

my_df = pd.DataFrame(my_dict)
print(my_df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a tabular data object with rows and columns. It is one of the primary data structures in Pandas and provides a way to store and manipulate data in a flexible and efficient manner.

A DataFrame can be thought of as a collection of Pandas Series, where each column in the DataFrame represents a Series. In other words, a DataFrame is a container that holds multiple Series objects, aligned by a common index.

Pandas Series is a one-dimensional labeled array capable of holding any data type, whereas a DataFrame is a two-dimensional labeled data structure that can hold multiple Series objects, aligned by a common index. The DataFrame is used to represent tabular data with rows and columns, providing more flexibility for data manipulation and analysis compared to a single Series.

In [9]:
import pandas as pd

# Creating a Pandas Series
series = pd.Series([10, 20, 30, 40, 50])

# Creating a DataFrame
data = {'Name': ['John', 'Jane', 'Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28, 35, 32],
        'City': ['New York', 'London', 'Paris', 'Tokyo', 'Sydney']}
df = pd.DataFrame(data)

# Printing the Series
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
# Printing the DataFrame
print(df)

      Name  Age      City
0     John   25  New York
1     Jane   30    London
2    Alice   28     Paris
3      Bob   35     Tokyo
4  Charlie   32    Sydney

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

i. head() and tail(): These functions allow you to view the first few rows (head()) or the last few rows (tail()) of a DataFrame. They are useful for quickly inspecting the structure and contents of a DataFrame.

ii. info(): This function provides a summary of the DataFrame, including the number of rows, column names, data types, and memory usage. It is helpful for getting an overview of the data and checking for missing values or inconsistent data types.

iii. describe(): This function generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values for numerical columns. It gives you insights into the distribution and summary statistics of the data.

iv. shape: This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It is useful for quickly checking the size of the DataFrame.

v. loc[] and iloc[]: These indexing functions are used for selecting specific rows or columns in a DataFrame. loc[] is label-based indexing, while iloc[] is integer-based indexing. They allow you to extract or modify specific data points based on their row/column labels or positions.

Example:

In [12]:
df1 = pd.read_csv('services.csv')

In [14]:
df1.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [16]:
df1.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,None,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,None,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              21 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [19]:
df1.describe()

             id  location_id  program_id
count  23.00000    23.000000         0.0
mean   12.00000    11.956522         NaN
std     6.78233     6.711444         NaN
min     1.00000     1.000000         NaN
25%     6.50000     6.500000         NaN
50%    12.00000    12.000000         NaN
75%    17.50000    17.500000         NaN
max    23.00000    22.000000         NaN

In [21]:
df1.shape

(23, 22)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame is mutable in nature. Series is also mutable but it is size immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [23]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['John', 'Jane', 'Alice', 'Bob'])
age_series = pd.Series([25, 30, 28, 35])
city_series = pd.Series(['New York', 'London', 'Paris', 'Tokyo'])

# Creating a DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'City': city_series}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Jane   30    London
2  Alice   28     Paris
3    Bob   35     Tokyo