Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of data. 

Differentiate between SQL and NoSQL databases:

SQL Databases:

Based on the relational model.
Use structured query language (SQL).
Predefined schema structure.
Data organized into tables with rows and columns.
Relationships between tables established using keys.
Suitable for complex relationships and rigid schemas.

NoSQL Databases:

Designed for unstructured, semi-structured, and structured data.
Flexible schema or schema-less approach.
Use various data models (key-value, document, columnar, graph).
Handle large volumes of data.
Commonly used in modern web applications and real-time analytics.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are responsible for creating, modifying, and deleting database objects such as tables, indexes, views, and constraints.

CREATE: The CREATE statement is used to create new database objects. For example, creating a table named "Customers" with columns "ID," "Name," and "Email" would look like this:

CREATE TABLE Customers (
  ID INT,
  Name VARCHAR(50),
  Email VARCHAR(100)
);

DROP: The DROP statement is used to remove existing database objects. For instance, dropping the "Customers" table would be done with the following command:

DROP TABLE Customers;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It allows adding, modifying, or deleting columns, constraints, or indexes. Here's an example of adding a new column "Phone" to the "Customers" table:

ALTER TABLE Customers ADD Phone VARCHAR(15);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table while keeping the table structure intact. It is faster than using DELETE, as it deallocates the space used by the table. For instance, truncating the "Customers" table would be done with the following command:

TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML statements are responsible for inserting, updating, and deleting data in database tables. 

INSERT: The INSERT statement is used to add new rows of data into a table. It allows you to specify the values to be inserted into each column of the table. For example, inserting a new record into the "Customers" table with values for the "Name" and "Email" columns:

INSERT INTO Customers (Name, Email) VALUES ('John Doe', 'johndoe@example.com');

UPDATE: The UPDATE statement is used to modify existing data within a table. It allows you to change the values of specific columns in one or more rows.

UPDATE Customers SET Email = 'newemail@example.com' WHERE ID = 1;

DELETE: The DELETE statement is used to remove one or more rows of data from a table. It allows you to specify a condition to identify the rows to be deleted.

DELETE FROM Customers WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. DQL statements are primarily focused on fetching and retrieving data based on specific criteria. Here's an explanation of the SELECT statement with an example:

SELECT: The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the table(s) to query, and any conditions or criteria for filtering the results. 

SELECT FirstName, LastName
FROM Employees
WHERE Salary > 50000;

Q5. Explain Primary Key and Foreign Key.

Primary Key:

A primary key is a column or a set of columns in a table that uniquely identifies each row in that table.
It must have a unique value for each row and cannot contain null values.
A primary key is used to ensure the uniqueness of records in a table.
It enables efficient indexing and retrieval of data, as well as establishing relationships with other tables through foreign keys.

Example:
Consider a table named "Customers" with columns such as "CustomerID," "Name," and "Email." To make "CustomerID" the primary key:

CREATE TABLE Customers (
  CustomerID INT PRIMARY KEY,
  Name VARCHAR(50),
  Email VARCHAR(100)
);

Foreign Key:

A foreign key is a column or a set of columns in a table that refers to the primary key of another table.
It establishes a relationship between two tables, defining a parent-child relationship.
The foreign key constraint ensures referential integrity by enforcing that the values in the foreign key column(s) must exist in the referenced table's primary key column(s).

Example:
Suppose we have another table named "Orders" with columns such as "OrderID," "CustomerID," and "OrderDate." Here, "CustomerID" can be a foreign key referencing the "CustomerID" column in the "Customers" table.

CREATE TABLE Orders (
  OrderID INT PRIMARY KEY,
  CustomerID INT,
  OrderDate DATE,
  FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM: Specifies the table or tables from which the data will be retrieved.
2. JOIN: If there are any JOIN operations, they are performed next to combine data from multiple tables.
3. WHERE: Filters the rows based on specified conditions.
4. GROUP BY: Groups the rows based on specified columns.
5. HAVING: Filters the grouped rows based on specified conditions.
6. SELECT: Retrieves the desired columns or expressions from the resulting rows.
7. DISTINCT: Removes duplicate rows from the result set, if specified.
ORDER BY: Sorts the result set based on specified columns or expressions.
LIMIT/OFFSET: Limits the number of rows returned or specifies the starting point for the result set, if specified.