Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is a popular document-oriented, NoSQL (non-relational) database management system. It is designed to store, manage, and retrieve large volumes of unstructured, semi-structured, and structured data. MongoDB uses a flexible document model, where data is stored in JSON-like documents with dynamic schemas.

Non-relational databases, or NoSQL databases, are designed to handle unstructured, semi-structured, and structured data, making them suitable for applications with evolving data models, large volumes of data, and high-speed data processing requirements. Non-relational databases avoid complex joins, prioritize performance, and often feature distributed architectures for improved scalability and fault tolerance.

MongoDB is preferred over SQL databases in scenarios that involve unstructured or semi-structured data, high scalability and performance requirements, agile development practices, and real-time analytics. It excels at handling evolving data models and accommodating changes without predefined schemas. MongoDB process large volumes of data efficiently. Its flexible querying capabilities and document-oriented model make it suitable for real-time analytics.

Q2. State and Explain the features of MongoDB.

Document-Oriented Model: MongoDB uses a document-oriented data model, where data is stored in flexible, self-describing JSON-like documents called BSON (Binary JSON). This allows for easy storage and retrieval of complex, nested data structures.

Dynamic Schema: MongoDB has a dynamic schema, which means that each document in a collection can have its own unique structure. This flexibility enables easy and iterative modifications to the data model without requiring a predefined schema.

Horizontal Scalability: MongoDB supports horizontal scaling by allowing data to be distributed across multiple servers or clusters. It handles large amounts of data and high traffic loads, ensuring scalability and performance as data volumes grow.

High Availability and Fault Tolerance: MongoDB offers replica sets, which are self-healing clusters that provide automatic failover and data redundancy. Replica sets ensure high availability and fault tolerance, allowing for continuous operation even in the event of server failures.

Flexible Querying: MongoDB provides powerful querying capabilities, including support for ad-hoc queries, indexing, and aggregation framework. It supports a rich query language with a wide range of operators and allows for complex queries on nested data structures.

Geospatial and Text Search: MongoDB includes built-in support for geospatial indexing and querying, making it well-suited for location-based applications. It also offers full-text search capabilities to efficiently search and index text data.

ACID Transactions: Starting from version 4.0, MongoDB supports multi-document ACID transactions, ensuring data consistency and integrity in complex operations involving multiple documents.

Easy Replication and Data Distribution: MongoDB simplifies replication and data distribution through its replica sets and sharding capabilities. It allows for easy setup and configuration of replica sets for data redundancy and automatic distribution of data across shards for scalability.

Integration with Programming Languages: MongoDB provides official drivers for a wide range of programming languages, making it easy to integrate and interact with the database using the language of your choice.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.4.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (648 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 648.9/648.9 kB 21.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 39.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.4.0
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pymongo

In [24]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://varshabiswal:varshabiswal@cluster0.qs4yu2u.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [25]:
# Create a database
mydb = client['mydatabase']
mydb

Database(MongoClient(host=['ac-dapoup8-shard-00-01.qs4yu2u.mongodb.net:27017', 'ac-dapoup8-shard-00-00.qs4yu2u.mongodb.net:27017', 'ac-dapoup8-shard-00-02.qs4yu2u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-xgwxki-shard-0', tls=True), 'mydatabase')

In [26]:
# Create a collection
mycol = mydb['mycollection']

mycol

Collection(Database(MongoClient(host=['ac-dapoup8-shard-00-01.qs4yu2u.mongodb.net:27017', 'ac-dapoup8-shard-00-00.qs4yu2u.mongodb.net:27017', 'ac-dapoup8-shard-00-02.qs4yu2u.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-xgwxki-shard-0', tls=True), 'mydatabase'), 'mycollection')

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [27]:
# Insert one record
record_one = {'name': 'Alice', 'age': 25}
result = mycol.insert_one(record_one)
print('Inserted Record ID:', result.inserted_id)

Inserted Record ID: 649409f5eb3aed1ec7af13b8

In [28]:
# Insert many records
records_many = [
    {'name': 'Bob', 'age': 28},
    {'name': 'Charlie', 'age': 32},
    {'name': 'David', 'age': 29}
]
result = mycol.insert_many(records_many)
print('Inserted Records IDs:', result.inserted_ids)

Inserted Records IDs: [ObjectId('649409f7eb3aed1ec7af13b9'), ObjectId('649409f7eb3aed1ec7af13ba'), ObjectId('649409f7eb3aed1ec7af13bb')]

In [29]:
# Print the inserted record using find_one()
inserted_record = mycol.find_one({'name': 'Alice'})
print('Inserted Record:', inserted_record)

Inserted Record: {'_id': ObjectId('6493f505776263d87e00a760'), 'name': 'Alice', 'age': 25}

In [30]:
# Print all inserted records using find()
inserted_records = mycol.find()
print('All Inserted Records:')
for record in inserted_records:
    print(record)

All Inserted Records:
{'_id': ObjectId('6493f505776263d87e00a760'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f518776263d87e00a762'), 'name': 'Charlie', 'age': 32}
{'_id': ObjectId('6493f518776263d87e00a763'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f518776263d87e00a761'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f785eb3aed1ec7af13a6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f786eb3aed1ec7af13a7'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f786eb3aed1ec7af13a8'), 'name': 'Charlie', 'age': 32}
{'_id': ObjectId('6493f786eb3aed1ec7af13a9'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f78ceb3aed1ec7af13aa'), 'name': 'Emily', 'age': 27}
{'_id': ObjectId('6493f78ceb3aed1ec7af13ac'), 'name': 'Grace', 'age': 31}
{'_id': ObjectId('6493f78ceb3aed1ec7af13ab'), 'name': 'Frank', 'age': 35}
{'_id': ObjectId('6493f78ceb3aed1ec7af13ad'), 'name': 'Henry', 'age': 24}
{'_id': ObjectId('6493f7e9eb3aed1ec7af13af'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b0'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b1'), 'name': 'Charlie', 'age': 32}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b2'), 'name': 'David', 'age': 29}
{'_id': ObjectId('649409f5eb3aed1ec7af13b8'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('649409f7eb3aed1ec7af13b9'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('649409f7eb3aed1ec7af13ba'), 'name': 'Charlie', 'age': 32}
{'_id': ObjectId('649409f7eb3aed1ec7af13bb'), 'name': 'David', 'age': 29}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method in MongoDB is used to query the database and retrieve documents that match specific criteria. It allows you to specify conditions or filters to narrow down the search results. Here's an explanation of how to use the find() method on above database connection:

In [31]:
# Insert sample documents (for demonstration purposes)
documents = [
    {'name': 'Emily', 'age': 27},
    {'name': 'Frank', 'age': 35},
    {'name': 'Grace', 'age': 31},
    {'name': 'Henry', 'age': 24}
]
mycol.insert_many(documents)

# Querying with find()
query = {'age': {'$lt': 30}}  # Find documents where 'age' is less than 30
results = mycol.find(query)

In [32]:
# Iterate over the results and print documents
for doc in results:
    print(doc)

{'_id': ObjectId('6493f505776263d87e00a760'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f518776263d87e00a763'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f518776263d87e00a761'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f785eb3aed1ec7af13a6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f786eb3aed1ec7af13a7'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f786eb3aed1ec7af13a9'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f78ceb3aed1ec7af13aa'), 'name': 'Emily', 'age': 27}
{'_id': ObjectId('6493f78ceb3aed1ec7af13ad'), 'name': 'Henry', 'age': 24}
{'_id': ObjectId('6493f7e9eb3aed1ec7af13af'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b0'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b2'), 'name': 'David', 'age': 29}
{'_id': ObjectId('649409f5eb3aed1ec7af13b8'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('649409f7eb3aed1ec7af13b9'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('649409f7eb3aed1ec7af13bb'), 'name': 'David', 'age': 29}
{'_id': ObjectId('64940a00eb3aed1ec7af13bc'), 'name': 'Emily', 'age': 27}
{'_id': ObjectId('64940a00eb3aed1ec7af13bf'), 'name': 'Henry', 'age': 24}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method in MongoDB is used to sort the query results based on one or more fields in ascending or descending order. It allows you to control the order in which the documents are returned. Here's an example to demonstrate sorting in MongoDB:

In [37]:
from pymongo import DESCENDING

# Querying with find() and sorting
query = {'age': {'$lt': 30}}  # Find documents where 'age' is less than 30
results = mycol.find(query).sort('age', DESCENDING) # Sort by 'age' field in descending order

In [38]:
# Iterate over the results and print documents
for doc in results:
    print(doc)

{'_id': ObjectId('6493f518776263d87e00a763'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f786eb3aed1ec7af13a9'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b2'), 'name': 'David', 'age': 29}
{'_id': ObjectId('649409f7eb3aed1ec7af13bb'), 'name': 'David', 'age': 29}
{'_id': ObjectId('6493f518776263d87e00a761'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f786eb3aed1ec7af13a7'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f7ebeb3aed1ec7af13b0'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('649409f7eb3aed1ec7af13b9'), 'name': 'Bob', 'age': 28}
{'_id': ObjectId('6493f78ceb3aed1ec7af13aa'), 'name': 'Emily', 'age': 27}
{'_id': ObjectId('64940a00eb3aed1ec7af13bc'), 'name': 'Emily', 'age': 27}
{'_id': ObjectId('6493f505776263d87e00a760'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f785eb3aed1ec7af13a6'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f7e9eb3aed1ec7af13af'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('649409f5eb3aed1ec7af13b8'), 'name': 'Alice', 'age': 25}
{'_id': ObjectId('6493f78ceb3aed1ec7af13ad'), 'name': 'Henry', 'age': 24}
{'_id': ObjectId('64940a00eb3aed1ec7af13bf'), 'name': 'Henry', 'age': 24}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

delete_one(filter):
The delete_one() method is used to delete a single document that matches the specified filter condition from a collection. It removes the first document that matches the filter criteria and then stops the deletion process. If multiple documents match the filter, only the first one encountered will be deleted.

Example:

In [39]:
mycol.delete_one({'name': 'Alice'})

delete_many(filter):
The delete_many() method is used to delete multiple documents that match the specified filter condition from a collection. It removes all the documents that match the filter criteria.

Example:

In [40]:
mycol.delete_many({'age': {'$gt': 30}})

drop():
The drop() method is used to completely remove a collection from the database. It deletes all the documents in the collection and also removes any associated indexes. The collection itself will be dropped and will no longer exist.

Example:

In [41]:
mycol.drop()